Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


rofi.width:		50
rofi.padding:	200
rofi.fullscreen: true
rofi.color-window: argb:aa263238, argb:aa263238, #26a69a
rofi.color-normal: argb:0263238, #eceff1, argb:0263238, #f4246b, #eceff1
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.lines:		20


! special
*.foreground:   #625b50
*.background:   #f7f3ee
*.cursorColor:  #625b50

! black
*.color0:       #625b50
*.color8:       #664b64

! red
*.color1:       #7a7264
*.color9:       #7a7264

! green
*.color2:       #7a7264
*.color10:      #51553f

! yellow
*.color3:       #877d6e
*.color11:      #7a7264

! blue
*.color4:       #968c7b
*.color12:      #485561

! magenta
*.color5:       #a39886
*.color13:      #7a7264

! cyan
*.color6:       #a39886
*.color14:      #5b5245

! white
*.color7:       #a39886
*.color15:      #a39886



!urxvt.font: xft:Inconsolata\ for\ Powerline:pixelsize=14:antialias=true

URxvt.font : xft:Iosevka\ Term:pixelsize=12:antialias=true
URxvt.boldFont : xft:Iosevka\ Term:pixelsize=12:style=Medium:antialias=true
URxvt.italicFont : xft:Iosevka\ Term:pixelsize=12:style=Italic:antialias=true
URxvt.boldItalicFont : xft:Iosevka\ Term:pixelsize=12:style=Bold Italic:antialias=true
!URxvt*font: xft:Iosevka\ Term\ Medium:pixelsize=12:antialias=true
!urxvt.boldFont: xft:Iosevka\ Term:pixelsize=12:antialias=true
urxvt.fading: 0
urxvt.scrollBar: None
urxvt.termName: rxvt-256color
URxvt.internalBorder: 20
URxvt.thickness : 5
URxvt.lineSpace : 3

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold fg5
URxvt.matcher.rend.0: Uline Bold fg1
URxvt*buffered: false
